
.text-cta-pannel {
    background: #dedede;
    text-align: center;
    padding: 2.5rem 3rem;
    h2 {
        color: $primary;
    }
    @media(min-width:768px)
    {
        h2 {
        font-size: 38px;
    }

    }
}





















